html {
    background-color: #8aca00 !important;
}

.logo {
    width: 15%;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 1rem;
}

.banner {
    position: absolute;
    left: 0;
    top: 0;
}

.points {
    font-size: 72px;
}

.pointsText {
    font-size: 35px;

    margin-top: -1rem;
    margin-bottom: 2rem;
}

.question-img {
    max-width: 432px;
    max-height: 299px;
}

.question-buttons {
    margin-top: 2rem;
}

.questionText {
    font-size: 30px;
    margin-top: 2rem;
}

.restartGame {
    margin-top: 4rem;
}

#main {
    display: block;
    margin: auto;
    text-align: center;

    font-family: 'Outfit', sans-serif;
    color: #231f20;
}