html {
    background-color: #8aca00 !important;
}

.logo {
    width: 15%;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 1rem;
}

.banner {
    position: absolute;
    left: 0;
    top: 0;
}

.points {
    font-size: 450%;
}

.pointsText {
    font-size: 220%;

    margin-top: -1rem;
    margin-bottom: 2rem;
}

.question-img {
    max-height: 18.5rem;
}

.questionText {
    font-size: 190%;
    margin-top: 2rem;
}

.question-buttons {
    margin-top: 2rem;
}

.restartGame {
    margin-top: 4rem;
}

#main {
    text-align: center;

    font-family: 'Outfit', sans-serif;
    color: #231f20;
}